.line{
    margin-left: 100px;
    border-left: 2px solid #e7e7e7;
    margin-right: 100px;
    border-right: 2px solid  #e7e7e7;
} 


/* Header*/
.header{
    margin: 50px;
    background-color: #ffffff;
}

 .logo{
    padding-bottom: 20px;
    font: 20 60px/10px open-sans regular;
    color: #333333;
}
ul.menu li{
    float: left;
    border-right: 1px solid #ffffff;
    list-style: none;
    padding: 3px;
}

.menu{
     width: 965px;
    height: 40px;
    background-color: #4f4f4f;
}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}


/* sidebar */
.sidebar{
    width: 30%;
    float: left;
}
table{
    margin: 0px 50px 50px 50px;
    width: 240px;
    height: 240px;
    border: 1px solid #3e3e3e;
    border-bottom: none;
}
th{
    background-color: #f9f9f9;
    text-align: left;
}

td, th{
    text-align: center;
     color: #656363;
    border-bottom: 1px solid #3e3e3e;  
}


/* content */
.content{
    float: right; 
    width: 67%; 

}
.content p{
    text-align: center;
   margin-right: 50px;
    margin-bottom: 50px; 
}
 
img{
    width: 680px;
    height: 400px;
    background-color: #ffffff;
}
/* footer */
.footer{
    margin: 50px;
    width: 965px;
    height: 40px;
    clear: both;
    background-color: #e1e1e1;
}
ul.text li{
    float: left;
    margin-right: 98px;
    padding: 5px;
    list-style: none;
}
.text li:nth-child(2){
    text-decoration: underline;
}
