*{
    margin: 0 auto;
    padding: 0;
}

body{
    background: url(images/bg.png);
}


.container{
    width: 1060p;
    height: 950px;
  /*  padding: 0 45px; */
    margin-left: 152px;
    margin-right: 152px; 
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.3);
} 


/* Header*/
.container header{
    width: 967px;
    height: 120px;
    color: #ffffff;
    padding:0  45px;
    margin-bottom: 45px;
}

 .logo{
     display: inline-block;
     vertical-align: middle;
    width: 145px;
     height: 40px;
     padding: 45px 0;
}
 

.main-nav{
    width: 966px;
   height: 40px; 
  /*  margin-bottom: 45px; */
    background: linear-gradient(0deg, #444343 0%, #5e5e5e 100%);
}
.main-nav li {
   display: inline-block;
    vertical-align: middle; 
    list-style: none;
    
}
.main-nav li a{
    text-decoration: none;
    color: #ffffff;
     font-family: Arial Tahoma OpenSans sans-serif; 
    padding: 0 45px 21px 45px;
}
.main-nav li a.active{
    background: linear-gradient(0deg, #2e2e2e 0%, #4a4a4a );
    border-left: 1px  solid  #ffffff;
    border-right: 1px solid  #ffffff;
}
.main-nav li a:hover{
    background: linear-gradient(0deg, #2e2e2e 0%, #4a4a4a 100%);
    
}

/*sidebar */
.container sidebar{
    float: left;
    width: 240px;
    height: 240px;
} 
table{
    margin: 45px 50px 50px 50px; 
    width: 240px;
    height: 240px;
    border: 1px solid #3e3e3e;
    border-bottom: none;
    background: url(images/list.png);
   
}

 table tr td{
    color: #656363;
    font: 400 13.33px / 37.333px Arial Tahoma OpenSans sans-serif;
    text-decoration: none;
     color: #656363;
    border-bottom: 1px solid #3e3e3e;  
}
 table tr td a.active{
    color: #2c2b2b;
    font: 400 13.33px / 37.333px  Arial Tahoma OpenSans sans-serif;
     background-color:#f9f9f9;
    margin-left: 15px;
}

table tr td a:hover{
    background-color: #f9f9f9;   
} 
a{
    text-decoration: none;
}

/* content */
.container content{
    float: right; 
    width: 678px;
    height: 580px;
    margin-right: 40px;
    margin-top: 45px;
}
content .picture img{
    width: 678px;
    height: 400px;
    background: url(frame.png);
}
 

.text p{
    width: 625px;
    height: 141px;
    color: #2c2b2b;
    font: 400 13.33px / 21.333px Arial Tahoma OpenSans sans-serif;
    text-align: center; 
    padding: 15px;
}

/* footer */
footer{
    clear: both; 
    width: 966px;
    height: 40px;
    background-color: #e1e1e1;
}
footer ul li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-left: 98px;
}
footer ul li:nth-child(2){
    text-decoration: underline;
}
footer ul li:last-child{
    margin-left: 170px;
}
footer ul li a{
    color: #2c2c2c;
}